/* FONTS */
@import url(//fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:300,700);

/* OVERALL ASPECT */

body {
  background-color: white;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

body {
  margin-top: 70px;
}

/* Titles */
.thick-text {
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}
h2, h3, h4, h5, h6, div, .navbar-brand {
  font-family: 'Open Sans', sans-serif;
}

.navbar .form-group {
  margin-bottom: 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Paragraph & Typographic */
p.super, ol.super, ul.super {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.mt {
  margin-top: 40px;
}

/* Links */
a {
  color: #428bca;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  color: #428bca;
}

/* Bootstrap Modifications */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar .navbar-brand {
  font-size: 28px;
  font-weight:bold;
}

.navbar {
  font-weight: 400;
  background-color: #ffffff;
  padding: 10px 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited,
.btn-warning, .btn-warning:hover, .btn-warning:visited,
.btn-danger, .btn-danger:hover, .btn-danger:visited,
.btn-success, .btn-success:hover, .btn-success:visited,
.btn-black, .btn-black:hover, .btn-black:visited {
  color: white !important;
}

.btn-bare {
  color: #999;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 1px;
}
.btn-bare:hover {
  color: #444 !important;
}
.btn-bare:visited {
  color: #999;
}
.btn-black {
  background-color: #555;
}
.btn-black:hover {
  background-color: #222;
}

.btn-default {
  background-color: #fff;
  border: 1px solid #ccc !important;
}
input[type=text], .modal-dialog textarea, input, .alert {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/*.btn-primary {
  background-color: #5E7289;
}
.btn-primary:hover {
  background-color: #415873;
}

.btn-success {
  background-color: #669B76;
}
.btn-success:hover {
  background-color: #448257;
}

.btn-warning {
  background-color: #D1B58A;
}
.btn-warning:hover {
  background-color: #B08F5C;
}

.btn-danger {
  background-color: #D1948A;
}
.btn-danger:hover {
  background-color: #B0675C;
}*/

.btn {
  border-radius: 0px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-color: transparent;
}

.btn-lg {
  padding: 10px 30px;
  font-size: 18px;
}

.lead {
  letter-spacing: 1px;
}

/* WRAP SECTIONS */

.wrap-section {
  padding-bottom: 100px;
  padding-top: 50px;
}
.wrap-section h1 {
  padding-bottom: 20px;
}
.top-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* hello */

.top-section h1 {
  font-size: 72px;
}

/* overview */
#overview {
  background-color: #444;
  padding-top: 80px;
  margin-bottom: 0px;
  padding-bottom: 100px;
}

#overview h3, #overview h2, #overview h1 {
  color: white;
  font-weight: 400;
  margin-bottom: 35px;
}

#overview p, #overview ol {
  color: white;
  font-weight: 300;
  font-size: 20px;
}

/* schema */
.white-section {
  background-color: white;
  color: #444;
}
.blue-section {
  background-color: #7C91B3;
  color: white;
}
.gray-section {
  background-color: #444;
  color: white;
}

#schema h3 {
  color: white;
}

#schema p {
  color: white;
  font-weight: 300;
}

/* Social Links */
#social {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: white;
}

#social i {
  font-size: 50px;
  color: #74cfae;
}

#social .col-md-3:hover {
  background-color: #f5f5f5;
}

#social .col-md-3 {
  padding:30px;
}

/* Footer */
.bottom-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #444;
}

.bottom-section div {
  color: white;
}

/* Image Opacity */
.grid img {
  opacity: .7;
}
.grid img:hover {
  opacity: 1;
}

.light-header {
  color: white;
}

.btn-200 {
  width: 200px;
}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;

}

ul.horizontal-list {
  list-style: none;
  padding-left: 0px;
}
ul.horizontal-list li {
  display: inline-block;
  margin: 5px;
}

.sm-push {
  margin-bottom: 10px;
}
.md-push {
  margin-bottom: 20px;
}
.lg-push {
  margin-bottom: 40px;
}

