<div class="item-search col-lg-8 col-md-7 hidden-sm hidden-xs">
<typeahead class="typeahead" items="matches" term="term" search="search(term)" select="selectPerson(item)" timeout="600">
        <div class="menu container-fluid" ng-if="people">
            <ul>
                <li typeahead-item="person" ng-repeat="person in people" class="person row">
                    <a href="/{{ person.username }}">
                        <div class="username col-xs-3">
                            <span>+{{ person.username }}</span>
                        </div>
                        <div class="name col-xs-3">
                            {{ person.profile.name.formatted }}
                        </div>
                        <div class="col-xs-6 details">
                            <div ng-if="person.profile.twitter.username && person.profile.twitter.proof.url" class="twitter">
                                <span class="fa fa-twitter"></span>
                                <span>{{ person.profile.twitter.username }}</span>
                            </div>
                            <div ng-if="person.profile.facebook.username && person.profile.facebook.proof.url" class="facebook">
                                <span class="fa fa-facebook"></span>
                                <span>{{ person.profile.facebook.username | formatFacebookUsername }}</span>
                            </div>
                            <div ng-if="person.profile.github.username && person.profile.github.proof.url" class="github">
                                <span class="fa fa-github"></span>
                                <span>{{ person.profile.github.username | formatGithubUsername }}</span>
                            </div>
                            <div ng-if="person.profile.website" class="website">
                                <span class="fa fa-link"></span>
                                <span>{{ person.profile.website | formatDomain }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </typeahead>
  </div>