<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">{{ publicKey.type }} key</h3>
</div>
<div class="modal-body">

    <div class="pgp-fingerprint-row row" ng-if="publicKey.fingerprint">
      <div class="col-sm-3">
        fingerprint:
      </div>
      <div class="col-sm-9 pgp-fingerprint">
        <span ng-repeat="chunk in publicKey.fingerprint | pgpFingerprintChunks" class="pgp-chunk">
          {{ chunk }}
        </span>
      </div>
    </div>
    <div class="pgp-fingerprint-row row" ng-if="publicKey.fingerprint">
      <div class="col-sm-3">
        64-bit fingerprint:
      </div>
      <div class="col-sm-9 pgp-fingerprint">
        <span ng-repeat="chunk in publicKey.fingerprint | pgpFingerprintChunks : 16 track by $index" class="pgp-chunk">
          {{ chunk }}
        </span>
      </div>
    </div>
    <div class="pgp-fingerprint-row row" ng-if="publicKey.url">
    	<div class="col-sm-12" style="text-align: center;">
    		<a ng-href="{{ publicKey.url }}" target="_blank" class="btn btn-default">View Public Key</a>
    	</div>
    </div>

    <div class="pgp-key row" ng-if="publicKey.value">
      <div class="col-sm-12">
        <textarea rows="10" class="form-control selectable-textarea centered-text" id="pgpkey-textarea" spellcheck="false" select-on-click>{{ publicKey.value }}</textarea>
      </div>
    </div>

</div>
