<div>
    <form novalidate>
        <div class="form-group">
            <i class="fa fa-search search-icon"></i>
            <input type="text" class="form-control input-lg" timeout="600" placeholder="Search..." ng-model="term" ng-change="query()" autocomplete="off">
        </div>
    </form>
    <div ng-transclude>
        <div class="menu">
            <ul>
                <li typeahead-item="person" ng-repeat="person in people" class="person">
                    <span>{{ person.username }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
