
<div class="profile-header" ng-if="profile">
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 header-section">
      <div id="user-avatar-container" class="avatar-container circle-container-lg">

      </div>
      <!--<div class="avatar-border">
      </div>-->
      <div class="follow-button-container">
        <a href="#" type="button" class="btn btn-black follow-button" ng-click="openFollowModal()">Follow</a>
      </div>
    </div>
    
    <div class="col-md-3 header-section">
      <h4>+{{ user.username }}</h4>
      <div class="sandwich-text">
        <h1 class="name">{{ user.name }}</h1>
      </div>
      <p ng-if="user.location">
        <i class="fa fa-map-marker"></i>
        {{ user.location }}
      </p>
      <p class="bio" ng-if="user.bio">
        {{ user.bio }}
      </p>
    </div>

    <div class="col-md-3 header-section friends-section">

      <div ng-if="!user.featuredFriends" class="no-friends">
        <!--<h4>Friends</h4>
        <p>
          <i>(user isn't following anyone who is following them back)</i>
        </p>-->
      </div>

      <div ng-if="user.featuredFriends">
        <h4>Following</h4>
        <div class="friend-item-container">
          <div class="friend-item grouped-friend-item" ng-repeat="friend in user.featuredFriends">
            <a href="/{{ friend.username }}">
              <div class="avatar-container square-container-100" id="friend-avatar-{{ $index }}">
                <div class="username-section">
                  <h5 class="username">{{ friend.username }}</h5>
                </div>
              </div>
            </a>
          </div>
        </div>

        <p ng-if="user.unfeaturedFriendCount">
          <a href="#" class="btn btn-black" ng-click="openFollowingModal('lg')">and {{ user.unfeaturedFriendCount }} more...</a>
        </p>

      </div>
      
    </div>

    <div class="col-md-3 header-section profile-header-side">

      <!-- CONTACT ITEMS -->
      <div class="row">
        <div class="col-md-12 contact">
          
          <a href="#" class="btn btn-black" ng-repeat="method in user.contactMethods | limitTo:4 track by $index" style="margin-right: 3px;" ng-click="openContactModal($index)" ng-if="validContactTypes.indexOf(method.type) !== -1">
            
            <i class="fa fa-envelope-o fa-2x" ng-if="method.type === 'email'"></i>
            <i class="fa fa-phone fa-2x" ng-if="method.type === 'phone'"></i>
            <i class="fa fa-skype fa-2x" ng-if="method.type === 'skype'"></i>
            <span class="fa-stack" ng-if="method.type === 'bitmessage'">
              <i class="fa fa-comment fa-stack-2x fa-inverse"></i>
              <strong class="fa-stack-1x icon-stack-text bitmessage-icon">BM</strong>
            </span>
            <span class="fa-stack" ng-if="method.type === 'xmpp'">
              <i class="fa fa-comment fa-stack-2x"></i>
              <strong class="fa-stack-1x icon-stack-text bitmessage-icon">XM</strong>
            </span>

          </a>
          
        </div>
      </div>
      <!-- END CONTACT ITEMS -->

      <!-- KEYCHAIN ITEMS -->
      <div class="row" ng-if="user.keychain">
        <div class="col-md-12">
          <div ng-repeat="key in user.keychain | limitTo:2 track by $index" class="key-link">
              <a href="#" type="button" class="btn-bare" ng-if="key.type" ng-click="openPublicKeyModal($index)">
                  <span class="pull-left">
                    <i class="fa fa-key"></i>
                    <span>{{ key.type }}</span>
                  </span>
                  <span class="pull-right">
                    <span ng-repeat="chunk in key.fingerprint | pgpFingerprintChunks : 8" class="pgp-chunk">
                    {{ chunk }}
                    </span>
                  </span>
              </a>
          </div>
        </div>
      </div>
      <!-- END KEYCHAIN ITEMS -->

      <!-- PAYMENT ITEMS -->
      <div class="row" ng-if="user.payments">
        <div class="col-md-12">
          <div class="send-money-container">
            <a href="#" type="button" class="btn btn-success btn-lg btn-block" ng-click="openPaymentModal()">Send Money</a>
          </div>
        </div>
      </div>
      <!-- END PAYMENT ITEMS -->

    </div>

  </div>
</div>
</div>

<div id="profile-bottom" class="profile-bottom container-fluid" ng-if="profile">
  
  <div class="row accounts">

    <div class="col-md-3 column" ng-repeat="profile in user.profiles" ng-if="profile.username && profile.proofUrl">
      <div class="profile-box {{ profile.type }}">
        <div class="profile-inner-box">
          <a href="{{ profile.proofUrl }}" class="profile pull-left" target="_blank">
            <i class="fa {{ profile.iconClass }} fa-2"></i>
            <span class="username">{{ profile.username }}</span>
          </a>
          <!--<a href="{{ profile.proofUrl }}" class="proof pull-right" target="_blank">
            <i class="fa fa-certificate fa-2"></i>
            proof
          </a>-->
        </div>
      </div>
    </div>

    <div class="col-md-3 column" ng-repeat="website in user.websites" ng-if="website.domain && website.url">
      <div class="profile-box website dark-gradient">
        <div class="profile-inner-box">
          <a href="{{ website.url }}" class="profile pull-left" target="_blank">
            <i class="fa fa-link fa-2"></i>
            <span class="username">{{ website.domain }}</span>
          </a>
          <!--<a href="{{ website.proofUrl }}" class="proof pull-right" target="_blank">
            <i class="fa fa-certificate fa-2"></i>
            proof
          </a>-->
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-if="!profile" class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="centered">
        <h3>Oh no! That user doesn't seem to exist.</h3>
        <a href="/" class="btn btn-default">home</a> 
      </div>
    </div>
  </div>
</div>
