
<div class="profile-header">
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 header-section">
      <div id="user-avatar-container" class="avatar-container circle-container-lg">

      </div>
      <div class="avatar-border">
      </div>
      <div class="follow-button-container">
        <a href="#" type="button" class="btn btn-black" style="width: 200px; margin: auto;">Follow</a>
      </div>
    </div>
    
    <div class="col-md-3 header-section">
      <h3>+{{ user.username }}</h3>
      <div class="sandwich-text">
        <h1 class="name">{{ user.name }}</h1>
      </div>
      <p>
        <i class="fa fa-map-marker"></i>
        {{ user.location }}
      </p>
      <p class="bio">
        {{ user.bio }}
      </p>
    </div>

    <div class="col-md-3 header-section friends-section">

      <div ng-if="!user.featuredFriends" class="no-friends">
        <!--<h4>Friends</h4>
        <p>
          <i>(user isn't following anyone who is following them back)</i>
        </p>-->
      </div>

      <div ng-if="user.featuredFriends">
        <h4>Followers</h4>
        <div class="friend-item-container">
          <div class="friend-item" ng-repeat="friend in user.featuredFriends">
            <a href="/{{ friend.username }}">
              <div class="avatar-container square-container-100" id="friend-avatar-{{ $index }}">
                <div class="username-section">
                  <h5 class="username">{{ friend.username }}</h5>
                </div>
              </div>
            </a>
          </div>
        </div>

        <p ng-if="user.unfeaturedFriendCount">
          <a href="#" class="btn btn-black">and {{ user.unfeaturedFriendCount }} more...</a>
        </p>

      </div>
      
    </div>

    <div class="col-md-3 header-section profile-header-side">

      <!-- CONTACT ITEMS -->
      <div class="row">
        <div class="col-md-12 contact">
          
          <a href="{{ contactMethod.url }}" target="_blank" class="btn btn-black" ng-repeat="contactMethod in user.contactMethods" style="margin-right: 4px;">
            <i class="fa {{ contactMethod.iconClass }} fa-2x" ng-if="contactMethod.iconClass"></i>
            <span class="fa-stack" ng-if="contactMethod.type === 'bitmessage'">
              <i class="fa fa-comment fa-stack-2x fa-inverse"></i>
              <strong class="fa-stack-1x icon-stack-text bitmessage-icon">BM</strong>
            </span>
          </a>
          
        </div>
      </div>
      <!-- END CONTACT ITEMS -->

      <!-- KEYCHAIN ITEMS -->
      <div class="row">
        <div class="col-md-12">
          
          <div ng-if="user.shortPgpFingerprint" class="key-link">
              <a href="#" type="button" class="btn btn-bare btn-block" >
                  <span class="pull-left">
                    <i class="fa fa-key"></i> PGP
                  </span>
                  <span class="pull-right">{{ user.shortPgpFingerprint }}</span>
              </a>
          </div>
          
          <div ng-if="user.shortOtrFingerprint" class="key-link">
              <a href="#" type="button" class="btn btn-bare btn-block">
                  <span class="pull-left">
                    <i class="fa fa-key"></i> OTR
                  </span>
                  <span class="pull-right">{{ user.shortOtrFingerprint }}</span>
              </a>
          </div>
          
        </div>
      </div>
      <!-- END KEYCHAIN ITEMS -->

      <div class="row" ng-if="user.payments">
        <div class="col-md-12">
          <div class="send-money-container">
            <a href="#" type="button" class="btn btn-success btn-lg btn-block">Send Money</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>

<div id="profile-bottom" class="profile-bottom container-fluid">
  
  <div class="row accounts">

    <div class="col-md-3 column" ng-repeat="profile in user.profiles">
      <div class="profile-box {{ profile.type }}">
        <p>
          <a href="{{ profile.url }}" class="profile pull-left" target="_blank">
            <i class="fa {{ profile.iconClass }} fa-2"></i>
            <span class="username">{{ profile.username }}</span>
          </a>
          <a href="{{ profile.proofUrl }}" class="proof pull-right" target="_blank">
            <!--<i class="fa fa-certificate fa-2"></i>
            proof-->
          </a>
        </p>
      </div>
    </div>

    <div class="col-md-3 column" ng-repeat="profile in user.websites">
      <div class="profile-box {{ profile.type }}">
        <p>
          <a href="{{ profile.url }}" class="profile pull-left" target="_blank">
            <i class="fa {{ profile.iconClass }} fa-2"></i>
            <span class="username">{{ profile.username }}</span>
          </a>
          <a href="{{ profile.proofUrl }}" class="proof pull-right" target="_blank">
            <!--<i class="fa fa-certificate fa-2"></i>
            proof-->
          </a>
        </p>
      </div>
    </div>

  </div>

</div>
